In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
from basic_imports import *
import pandas

from math import radians, cos, sin, asin, sqrt

import folium
import datetime
from constants import *
from load_files import *
from scipy.stats import *
from scipy import spatial

import statsmodels.api as sm
import numpy as np

In [2]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

def mean_absolute_percentage_error(y_true, y_pred):
    #y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

# Mexico

In [4]:
leon = pd.read_csv("leon_walk.csv")
leon['city'] = int(0)
gdl = pd.read_csv("guadalajara.csv")
gdl['city'] = int(1)

In [5]:
mexico = pd.concat([leon, gdl])

In [6]:
#mexico = mexico.drop('Unnamed: 0', axis=1)

In [ ]:
leon.set_index('timestamp', inplace=True)
gdl.set_index('timestamp', inplace=True)

In [8]:
leon = leon.sort_index()
gdl = gdl.sort_index()

In [12]:
from scipy import stats

def drop_numerical_outliers(df, z_thresh=1.5):
    # Constraints will contain `True` or `False` depending on if it is a value below the threshold.
    constrains = df.select_dtypes(include=[np.number]) \
        .apply(lambda x: np.abs(stats.zscore(x)) < z_thresh) \
        .all(axis=1)
    # Drop (inplace) values set to be rejected
    df.drop(df.index[~constrains], inplace=True)

In [13]:
drop_numerical_outliers(leon)

In [ ]:
drop_numerical_outliers(gdl)

In [14]:
leon.describe()

,pm2_5,hour_of_day,day_of_week,temperature,humidity,gpsLongitude,gpsLatitude,closest_pm,dist_to_closest_pm,city
count,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000,8113.000000
mean,24.452957,2.270553,2.028596,23.756890,44.232389,-102.286206,20.958658,26.418556,0.476038,0.362874
std,13.782117,0.801190,1.540278,1.835837,7.582662,0.804471,0.212514,12.010038,0.347511,0.480859
min,3.126181,1.000000,0.000000,19.000000,20.800000,-103.359569,20.669440,5.726973,0.003161,0.000000
25%,14.709154,2.000000,1.000000,22.550000,39.950000,-103.349753,20.678145,17.224429,0.265677,0.000000
50%,21.885727,2.000000,2.000000,23.700000,44.750000,-101.684937,21.115975,24.944094,0.407831,0.000000
75%,30.765917,3.000000,3.000000,24.900000,49.400000,-101.680868,21.120718,33.435388,0.566062,1.000000
max,99.814902,4.000000,6.000000,30.400000,66.850003,-101.653436,21.126571,68.404765,2.216757,1.000000

In [15]:
leon.to_csv("leon_walk.csv")

In [ ]:
gdl.to_csv("guadalajara.csv")